// These are the LESS variables Populr requires in every theme. As a user 
// selects options in their Pop, these values will be overridden. Choose 
// sensible defaults, as these will be seen by the user if they choose to go 
// with your settings. If you are developing your theme in a sub-directory, you
// will need to set that directory in @base-url (e.g. '../my-sub-directory')

@base-url: '..';
@accent-color: #bb262b;
@background-color: #111111;
@headline-font-family: 'Lato', Arial, sans-serif;
@headline-font-weight: 300;

// Add any additional variables for your theme here.